* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.container {
  background: rgba(17, 23, 27, 0.75);
  width: 430px;
  height: 545px;
  padding: 46px 43px 51px 43px;
  box-shadow: 0 2px 5px black;
}

button {
  width: 195px;
  height: 40px;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.tabs__wrap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.tabs__input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.tabs__label {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  margin-right: 40px;
  cursor: pointer;
}
.tabs__content {
  width: 100%;
  display: none;
}
.tabs .tab-1 {
  border-bottom: 3px solid transparent;
  padding-bottom: 8px;
}
.tabs .tab-2 {
  border-bottom: 3px solid transparent;
  padding-bottom: 8px;
}

#tab-1:checked ~ .content-1,
#tab-2:checked ~ .content-2 {
  display: block;
}

#tab-1:checked ~ .tab-1,
#tab-2:checked ~ .tab-2 {
  border-bottom: 3px solid #ffab1a;
}

.form_signin {
  padding-top: 84px;
  padding-bottom: 30px;
}
.form_signup {
  padding-top: 75px;
}
.form__item {
  position: relative;
  margin-bottom: 55px;
}
.form__item:last-child {
  margin-bottom: 0px;
}
.form__input {
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 2px solid #a2a4a7;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
  color: #f57f17;
  font-size: 16px;
}
.form__input:focus {
  border-bottom: 2px solid #f57f17;
  color: #f57f17;
  font-size: 16px;
}
.form__input:focus ~ .form__label {
  top: -18px;
  font-size: 12px;
}
.form__input:not(:placeholder-shown) ~ .form__label {
  top: -18px;
  font-size: 12px;
}
.form__label {
  position: absolute;
  top: 8px;
  left: 0;
  font-size: 16px;
  transition: 0.3s;
}
.form__confirm {
  display: flex;
  align-items: center;
}
.form__confirm_signin {
  margin: 40px 0px 65px 0px;
}
.form__confirm_signup {
  margin: 50px 0px 40px 0px;
}
.form__checkbox {
  width: 17px;
  height: 17px;
  margin-right: 8px;
  cursor: pointer;
}
.form__checkbox + label {
  font-size: 13px;
  cursor: pointer;
}
.form__button {
  background-color: #f57f17;
  color: #fff;
  display: block;
  margin: 0 auto;
}
.form__button:hover {
  background-color: #ff9a42;
  transition: 0.3s;
}
.form__forgot-password {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: 30px;
}